.catalog {
  width: 1250px;
  margin: 0 auto;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pagination {
    margin: 15px 0px;
  }
}
